.random-button:hover {
	background-color: #006098;
	text-decoration: none;
}
.alert-random a {
	color: #3c763d;
    text-decoration: underline;
}
.random-button-xs {
	padding: 8px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px
}
.random-button {
	width:100%;
	padding: 8px 17px;
	text-align: center;
	white-space: nowrap;
	border: 0;
	outline: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-background-clip: padding-box;
	-ms-background-clip: padding-box;
	-moz-background-clip: padding-box;
	-o-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-transition: background 0.15s ease-in,background-color 0.15s ease-in,color 0.1s ease-in,top 0.1s ease-in;
	-o-transition: background 0.15s ease-in,background-color 0.15s ease-in,color 0.1s ease-in,top 0.1s ease-in;
	transition: background 0.15s ease-in,background-color 0.15s ease-in,color 0.1s ease-in,top 0.1s ease-in;
	text-decoration: none;
	position: relative;
	top: 0;
	background-color: #00a1ff !important;
	color: #fff !important;
	border: 1px solid #337ab7 !important;
	color: #fff;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	vertical-align: top;
	font-size: 12px;
}
.alert-success-random {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-random {
	display:none;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}